<p>todo-list-component works!</p>

<div class="container">
    <div class="row">
        <div class="col">
            <p-panel>
                <div class="container">
                    <div class="row">
                        <div class="col-xs">
                            <div *ngFor="let item of todoItems$ | async; let i = index">
                                <p>{{item.title}}</p>
                                <p>{{item.description}}</p>
                                <p>{{item.duration}}</p>
                                <p>{{item.isDone}}</p>
                                <!-- <a
                                [routerLink]="['edit/', i]"
                                >Edit</a> -->
                                <button
                                (click)="onEdit(item)">Edit</button>
                                <button
                                (click)="onDelete(i)"
                                >Delete</button>
                            </div>
                        </div>
                        <div *ngIf="showEdit">
                            <todo-list-edit-component [todoItem]="selectedItem"></todo-list-edit-component>
                        </div>
                        <div class="col-xs">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </p-panel>
        </div>
        <div class="col">
            <p-panel>
                <div class="container">
                    <div class="row">
                        <div class="col-xs">
                            <div *ngFor="let item of todoItems$ | async; let i = index">
                                <p>{{item.title}}</p>
                                <p>{{item.description}}</p>
                                <p>{{item.duration}}</p>
                                <p>{{item.isDone}}</p>
                                <!-- <a
                                [routerLink]="['edit/', i]"
                                >Edit</a> -->
                                <button
                                (click)="onEdit(item)">Edit</button>
                                <button
                                (click)="onDelete(i)"
                                >Delete</button>
                            </div>
                        </div>
                        <div *ngIf="showEdit">
                            <todo-list-edit-component [todoItem]="selectedItem"></todo-list-edit-component>
                        </div>
                        <div class="col-xs">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </p-panel>
        </div>
    </div>

</div>






<button>Add Todo Item</button>
