<div class="container">
    <div class="row">
        <div class="col">
            <p-panel>
                <div class="container">
                    <div class="row">
                        <div class="col-xs">
                            <div *ngFor="let item of todoItems$ | async; let i = index">
                                <p-accordion [activeIndex]="0">
                                    <p-accordionTab [header]="item.title">
                                        <p>{{item.description}}</p>
                                        <p>{{item.duration}}</p>
                                        <p>{{item.isDone}}</p>
                                        <button
                                        (click)="onEdit(item)">Edit</button>
                                        <a
                                            [routerLink]="['edit/', i]"
                                            >Edit</a>
                                        <button
                                        (click)="onDelete(i)"
                                        >Delete</button>
                                    </p-accordionTab>
                                </p-accordion>
                            </div>
                        </div>
                        <div *ngIf="showEdit">
                            <todo-list-edit-component [todoItem]="selectedItem"></todo-list-edit-component>
                        </div>
                        <div class="col-xs">
                           
                        </div>
                    </div>
                </div>
            </p-panel>
        </div>
        <div class="col">
            <p-panel>
                <div class="container">
                    <div class="row">
                        <div *ngIf="showEdit">
                            <todo-list-edit-component 
                                [todoItem]="selectedItem"
                                (isCancelled)="onCancel($event)">
                            </todo-list-edit-component>
                        </div>
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
</div>






<button>Add Todo Item</button>

<router-outlet></router-outlet>
